/* Footer */
/**
 * COMMENT
 * _________________________________________________________________________________
 * First do not repeat #footer and .cgv__footer selector as scss allow nests
 * Then group the selector that have the same style modification.
 * Have to be carefull to respect the fact that order is important
 * margin: 1rem can be put on first selector as the only one not affected rewrite it
*/
#footer {
  text-shadow: 0.55rem 0.55rem #FFFFFF;

    .form__footer,
    .cgv__footer,
    .cgu__footer {
      margin: 1rem;
      text-shadow: 0.55rem 0.55rem #15FFF5;
    }

    .cgv__footer .button {
      padding: 1rem;
      font-size: 1.5rem;
    }

    .cgu__footer,
    .cgv__footer:not(.button) {
      margin: 0.5rem;
    }
}